In [41]:
import pandas as pd
import numpy as np
import scipy as sc
from scipy.stats import zscore
import seaborn as sns
import matplotlib.pyplot as plt
import re #to handle regular expression when replacing
#let's import a library do deal with stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
#needed for ex3 e)
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
from collections import Counter
from wordcloud import WordCloud
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Start by loading the data set (train.csv)
df = pd.read_csv('train.csv')

# Print train.csv
print(df)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\andre\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

             ID  Loan Amount  Funded Amount  Funded Amount Investor  Term  \
0      65087372        10000          32236             12329.36286    59
1       1450153         3609          11940             12191.99692    59
2       1969101        28276           9311             21603.22455    59
3       6651430        11170           6954             17877.15585    59
4      14354669        16890          13226             13539.92667    59
...         ...          ...            ...                     ...   ...
67458  16164945        13601           6848             13175.28583    59
67459  35182714         8323          11046             15637.46301    59
67460  16435904        15897          32921             12329.45775    59
67461   5300325        16567           4975             21353.68465    59
67462  65443173        15353          29875             14207.44860    59

      Batch Enrolled  Interest Rate Grade Sub Grade Employment Duration  ...  \
0         BAT2522922      11.135007     B        C4            MORTGAGE  ...
1         BAT1586599      12.237563     C        D3                RENT  ...
2         BAT2136391      12.545884     F        D4            MORTGAGE  ...
3         BAT2428731      16.731201     C        C3            MORTGAGE  ...
4         BAT5341619      15.008300     C        D4            MORTGAGE  ...
...              ...            ...   ...       ...                 ...  ...
67458     BAT3193689       9.408858     C        A4            MORTGAGE  ...
67459     BAT1780517       9.972104     C        B3                RENT  ...
67460     BAT1761981      19.650943     A        F3            MORTGAGE  ...
67461     BAT2333412      13.169095     D        E3                 OWN  ...
67462     BAT1930365      16.034631     B        D1            MORTGAGE  ...

        Recoveries Collection Recovery Fee Collection 12 months Medical  \
0         2.498291                0.793724                            0
1         2.377215                0.974821                            0
2         4.316277                1.020075                            0
3         0.107020                0.749971                            0
4      1294.818751                0.368953                            0
...            ...                     ...                          ...
67458   564.614852                0.865230                            0
67459     2.015494                1.403368                            0
67460     5.673092                1.607093                            0
67461     1.157454                0.207608                            0
67462     1.856480                0.366386                            0

      Application Type  Last week Pay  Accounts Delinquent  \
0           INDIVIDUAL             49                    0
1           INDIVIDUAL            109                    0
2           INDIVIDUAL             66                    0
3           INDIVIDUAL             39                    0
4           INDIVIDUAL             18                    0
...                ...            ...                  ...
67458       INDIVIDUAL             69                    0
67459       INDIVIDUAL             14                    0
67460       INDIVIDUAL            137                    0
67461       INDIVIDUAL             73                    0
67462       INDIVIDUAL             54                    0

       Total Collection Amount  Total Current Balance  \
0                           31                 311301
1                           53                 182610
2                           34                  89801
3                           40                   9189
4                          430                 126029
...                        ...                    ...
67458                       48                 181775
67459                       37                  22692
67460                       17                 176857
67461                       61                 361339
67462                       47                 196960

       Total Revolving Credit Limit  Loan Status
0                              6619            0
1                             20885            0
2                             26155            0
3                             60214            0
4                             22579            0
...                             ...          ...
67458                         34301            1
67459                          8714            0
67460                         42330            0
67461                         39075            0
67462                         66060            0

[67463 rows x 35 columns]

In [42]:
# 1. Data Exploration and Preparation

# There is an error in two columns in the data set, so we need to fix it
# We need to switch the columns 'Employment Duration' and 'Home Ownership'
print("O data set antes da troca é: \n" )

print(df['Employment Duration'].head())
print(df['Home Ownership'].head())

df['Employment Duration'], df['Home Ownership'] = df['Home Ownership'], df['Employment Duration']

print("\nO data set depois da troca é: \n" )

print(df['Employment Duration'].head())
print(df['Home Ownership'].head())

O data set antes da troca é:

0    MORTGAGE
1        RENT
2    MORTGAGE
3    MORTGAGE
4    MORTGAGE
Name: Employment Duration, dtype: object
0    176346.62670
1     39833.92100
2     91506.69105
3    108286.57590
4     44234.82545
Name: Home Ownership, dtype: float64

O data set depois da troca é:

0    176346.62670
1     39833.92100
2     91506.69105
3    108286.57590
4     44234.82545
Name: Employment Duration, dtype: float64
0    MORTGAGE
1        RENT
2    MORTGAGE
3    MORTGAGE
4    MORTGAGE
Name: Home Ownership, dtype: object

In [43]:
# Number of rows
linhas = len(df)
print("Number of rows: " + str(linhas))

# Number of collumns
colunas = len(df.columns)
print("Number of columns: " + str(colunas))

# Collumns Names
col_names = df.columns
print(col_names)

Number of rows: 67463
Number of columns: 35
Index(['ID', 'Loan Amount', 'Funded Amount', 'Funded Amount Investor', 'Term',
       'Batch Enrolled', 'Interest Rate', 'Grade', 'Sub Grade',
       'Employment Duration', 'Home Ownership', 'Verification Status',
       'Payment Plan', 'Loan Title', 'Debit to Income',
       'Delinquency - two years', 'Inquires - six months', 'Open Account',
       'Public Record', 'Revolving Balance', 'Revolving Utilities',
       'Total Accounts', 'Initial List Status', 'Total Received Interest',
       'Total Received Late Fee', 'Recoveries', 'Collection Recovery Fee',
       'Collection 12 months Medical', 'Application Type', 'Last week Pay',
       'Accounts Delinquent', 'Total Collection Amount',
       'Total Current Balance', 'Total Revolving Credit Limit', 'Loan Status'],
      dtype='object')

In [44]:
# View the first rows of the data set and then the last rows
first = df.head()
last = df.tail()
print("The first rows are:\n" + str(first) + "\n The last rows are: \n" + str(last))

The first rows are:
         ID  Loan Amount  Funded Amount  Funded Amount Investor  Term  \
0  65087372        10000          32236             12329.36286    59
1   1450153         3609          11940             12191.99692    59
2   1969101        28276           9311             21603.22455    59
3   6651430        11170           6954             17877.15585    59
4  14354669        16890          13226             13539.92667    59

  Batch Enrolled  Interest Rate Grade Sub Grade  Employment Duration  ...  \
0     BAT2522922      11.135007     B        C4         176346.62670  ...
1     BAT1586599      12.237563     C        D3          39833.92100  ...
2     BAT2136391      12.545884     F        D4          91506.69105  ...
3     BAT2428731      16.731201     C        C3         108286.57590  ...
4     BAT5341619      15.008300     C        D4          44234.82545  ...

    Recoveries Collection Recovery Fee Collection 12 months Medical  \
0     2.498291                0.793724                            0
1     2.377215                0.974821                            0
2     4.316277                1.020075                            0
3     0.107020                0.749971                            0
4  1294.818751                0.368953                            0

  Application Type  Last week Pay  Accounts Delinquent  \
0       INDIVIDUAL             49                    0
1       INDIVIDUAL            109                    0
2       INDIVIDUAL             66                    0
3       INDIVIDUAL             39                    0
4       INDIVIDUAL             18                    0

   Total Collection Amount  Total Current Balance  \
0                       31                 311301
1                       53                 182610
2                       34                  89801
3                       40                   9189
4                      430                 126029

   Total Revolving Credit Limit  Loan Status
0                          6619            0
1                         20885            0
2                         26155            0
3                         60214            0
4                         22579            0

[5 rows x 35 columns]
 The last rows are:
             ID  Loan Amount  Funded Amount  Funded Amount Investor  Term  \
67458  16164945        13601           6848             13175.28583    59
67459  35182714         8323          11046             15637.46301    59
67460  16435904        15897          32921             12329.45775    59
67461   5300325        16567           4975             21353.68465    59
67462  65443173        15353          29875             14207.44860    59

      Batch Enrolled  Interest Rate Grade Sub Grade  Employment Duration  ...  \
67458     BAT3193689       9.408858     C        A4          83961.15003  ...
67459     BAT1780517       9.972104     C        B3          65491.12817  ...
67460     BAT1761981      19.650943     A        F3          34813.96985  ...
67461     BAT2333412      13.169095     D        E3          96938.83564  ...
67462     BAT1930365      16.034631     B        D1         105123.15580  ...

       Recoveries Collection Recovery Fee Collection 12 months Medical  \
67458  564.614852                0.865230                            0
67459    2.015494                1.403368                            0
67460    5.673092                1.607093                            0
67461    1.157454                0.207608                            0
67462    1.856480                0.366386                            0

      Application Type  Last week Pay  Accounts Delinquent  \
67458       INDIVIDUAL             69                    0
67459       INDIVIDUAL             14                    0
67460       INDIVIDUAL            137                    0
67461       INDIVIDUAL             73                    0
67462       INDIVIDUAL             54                    0

       Total Collection Amount  Total Current Balance  \
67458                       48                 181775
67459                       37                  22692
67460                       17                 176857
67461                       61                 361339
67462                       47                 196960

       Total Revolving Credit Limit  Loan Status
67458                         34301            1
67459                          8714            0
67460                         42330            0
67461                         39075            0
67462                         66060            0

[5 rows x 35 columns]

In [45]:
# Data exploration
# Size
size = df.size
print('O tamanho do data set é: ' + str(size))

# Get a Summary of Data
describe = df.describe()
print("\n"+ str(describe))

O tamanho do data set é: 2361205

                 ID   Loan Amount  Funded Amount  Funded Amount Investor  \
count  6.746300e+04  67463.000000   67463.000000            67463.000000
mean   2.562761e+07  16848.902776   15770.599114            14621.799323
std    2.109155e+07   8367.865726    8150.992662             6785.345170
min    1.297933e+06   1014.000000    1014.000000             1114.590204
25%    6.570288e+06  10012.000000    9266.500000             9831.684984
50%    1.791565e+07  16073.000000   13042.000000            12793.682170
75%    4.271521e+07  22106.000000   21793.000000            17807.594120
max    7.224578e+07  35000.000000   34999.000000            34999.746430

               Term  Interest Rate  Employment Duration  Debit to Income  \
count  67463.000000   67463.000000         67463.000000     67463.000000
mean      58.173814      11.846258         80541.502522        23.299241
std        3.327441       3.718629         45029.120366         8.451824
min       36.000000       5.320006         14573.537170         0.675299
25%       58.000000       9.297147         51689.843335        16.756416
50%       59.000000      11.377696         69335.832680        22.656658
75%       59.000000      14.193533         94623.322785        30.048400
max       59.000000      27.182348        406561.536400        39.629862

       Delinquency - two years  Inquires - six months  ...  \
count             67463.000000           67463.000000  ...
mean                  0.327127               0.145754  ...
std                   0.800888               0.473291  ...
min                   0.000000               0.000000  ...
25%                   0.000000               0.000000  ...
50%                   0.000000               0.000000  ...
75%                   0.000000               0.000000  ...
max                   8.000000               5.000000  ...

       Total Received Late Fee    Recoveries  Collection Recovery Fee  \
count             67463.000000  67463.000000             67463.000000
mean                  1.143969     59.691578                 1.125141
std                   5.244365    357.026346                 3.489885
min                   0.000003      0.000036                 0.000036
25%                   0.021114      1.629818                 0.476259
50%                   0.043398      3.344524                 0.780141
75%                   0.071884      5.453727                 1.070566
max                  42.618882   4354.467419               166.833000

       Collection 12 months Medical  Last week Pay  Accounts Delinquent  \
count                  67463.000000   67463.000000              67463.0
mean                       0.021301      71.163260                  0.0
std                        0.144385      43.315845                  0.0
min                        0.000000       0.000000                  0.0
25%                        0.000000      35.000000                  0.0
50%                        0.000000      68.000000                  0.0
75%                        0.000000     105.000000                  0.0
max                        1.000000     161.000000                  0.0

       Total Collection Amount  Total Current Balance  \
count             67463.000000           6.746300e+04
mean                146.467990           1.595739e+05
std                 744.382233           1.390332e+05
min                   1.000000           6.170000e+02
25%                  24.000000           5.037900e+04
50%                  36.000000           1.183690e+05
75%                  46.000000           2.283750e+05
max               16421.000000           1.177412e+06

       Total Revolving Credit Limit   Loan Status
count                  67463.000000  67463.000000
mean                   23123.005544      0.092510
std                    20916.699999      0.289747
min                     1000.000000      0.000000
25%                     8155.500000      0.000000
50%                    16733.000000      0.000000
75%                    32146.500000      0.000000
max                   201169.000000      1.000000

[8 rows x 26 columns]

In [46]:
# Check which columns are Numeric and which are Categorical
dtypes = df.dtypes
print("Os data types são: \n" + str(dtypes) )

Os data types são:
ID                                int64
Loan Amount                       int64
Funded Amount                     int64
Funded Amount Investor          float64
Term                              int64
Batch Enrolled                   object
Interest Rate                   float64
Grade                            object
Sub Grade                        object
Employment Duration             float64
Home Ownership                   object
Verification Status              object
Payment Plan                     object
Loan Title                       object
Debit to Income                 float64
Delinquency - two years           int64
Inquires - six months             int64
Open Account                      int64
Public Record                     int64
Revolving Balance                 int64
Revolving Utilities             float64
Total Accounts                    int64
Initial List Status              object
Total Received Interest         float64
Total Received Late Fee         float64
Recoveries                      float64
Collection Recovery Fee         float64
Collection 12 months Medical      int64
Application Type                 object
Last week Pay                     int64
Accounts Delinquent               int64
Total Collection Amount           int64
Total Current Balance             int64
Total Revolving Credit Limit      int64
Loan Status                       int64
dtype: object

In [47]:
# Check for missing data by rows and by columns
# By rows
missing_rows = df.isnull().any(axis = 1)
print(missing_rows)
dframe_missing_rows = df[missing_rows] # Doesn't have missing rows
print(dframe_missing_rows)

# By columns
columns_with_NaN = df.isnull().sum() # Doesn't have NaN in columns
print(columns_with_NaN)

0        False
1        False
2        False
3        False
4        False
         ...
67458    False
67459    False
67460    False
67461    False
67462    False
Length: 67463, dtype: bool
Empty DataFrame
Columns: [ID, Loan Amount, Funded Amount, Funded Amount Investor, Term, Batch Enrolled, Interest Rate, Grade, Sub Grade, Employment Duration, Home Ownership, Verification Status, Payment Plan, Loan Title, Debit to Income, Delinquency - two years, Inquires - six months, Open Account, Public Record, Revolving Balance, Revolving Utilities, Total Accounts, Initial List Status, Total Received Interest, Total Received Late Fee, Recoveries, Collection Recovery Fee, Collection 12 months Medical, Application Type, Last week Pay, Accounts Delinquent, Total Collection Amount, Total Current Balance, Total Revolving Credit Limit, Loan Status]
Index: []

[0 rows x 35 columns]
ID                              0
Loan Amount                     0
Funded Amount                   0
Funded Amount Investor          0
Term                            0
Batch Enrolled                  0
Interest Rate                   0
Grade                           0
Sub Grade                       0
Employment Duration             0
Home Ownership                  0
Verification Status             0
Payment Plan                    0
Loan Title                      0
Debit to Income                 0
Delinquency - two years         0
Inquires - six months           0
Open Account                    0
Public Record                   0
Revolving Balance               0
Revolving Utilities             0
Total Accounts                  0
Initial List Status             0
Total Received Interest         0
Total Received Late Fee         0
Recoveries                      0
Collection Recovery Fee         0
Collection 12 months Medical    0
Application Type                0
Last week Pay                   0
Accounts Delinquent             0
Total Collection Amount         0
Total Current Balance           0
Total Revolving Credit Limit    0
Loan Status                     0
dtype: int64

In [48]:
# Verify if have duplicate rows
print(size)
df_duplicates = df.drop_duplicates(inplace = True)
print(df.size) # Doesn't have duplicate rows

2361205
2361205

In [52]:
# 2. Data Pre-Procecing

# Handle Categorical Data 
# Convert Categorical Data to Numerical Format
# First of all leet's see which columns are categorical
categorical_columns = df.select_dtypes(include = ['object']).columns.tolist()
print("Categorical columns: " + str(categorical_columns))

Categorical columns: ['Batch Enrolled', 'Grade', 'Sub Grade', 'Home Ownership', 'Verification Status', 'Payment Plan', 'Loan Title', 'Initial List Status', 'Application Type']

In [50]:
# Scale Numeric Features
# Standardize or normalize numerical features to bring them to a similar scale
# First of all leet's create a list with numerical data
numerical_columns = df.select_dtypes(include = ['int64', 'float64']).columns.tolist()
print("Numerical columns: " + str(numerical_columns))

# Handling outliers
z_scores = zscore(df[numerical_columns])
outliers = (z_scores > 3) | (z_scores < -3)

df[numerical_columns] = np.where(outliers, df[numerical_columns].mean(), df[numerical_columns])
print(outliers)

Numerical columns: ['ID', 'Loan Amount', 'Funded Amount', 'Funded Amount Investor', 'Term', 'Interest Rate', 'Employment Duration', 'Debit to Income', 'Delinquency - two years', 'Inquires - six months', 'Open Account', 'Public Record', 'Revolving Balance', 'Revolving Utilities', 'Total Accounts', 'Total Received Interest', 'Total Received Late Fee', 'Recoveries', 'Collection Recovery Fee', 'Collection 12 months Medical', 'Last week Pay', 'Accounts Delinquent', 'Total Collection Amount', 'Total Current Balance', 'Total Revolving Credit Limit', 'Loan Status']
          ID  Loan Amount  Funded Amount  Funded Amount Investor   Term  \
0      False        False          False                   False  False
1      False        False          False                   False  False
2      False        False          False                   False  False
3      False        False          False                   False  False
4      False        False          False                   False  False
...      ...          ...            ...                     ...    ...
67458  False        False          False                   False  False
67459  False        False          False                   False  False
67460  False        False          False                   False  False
67461  False        False          False                   False  False
67462  False        False          False                   False  False

       Interest Rate  Employment Duration  Debit to Income  \
0              False                False            False
1              False                False            False
2              False                False            False
3              False                False            False
4              False                False            False
...              ...                  ...              ...
67458          False                False            False
67459          False                False            False
67460          False                False            False
67461          False                False            False
67462          False                False            False

       Delinquency - two years  Inquires - six months  ...  \
0                        False                  False  ...
1                        False                  False  ...
2                        False                  False  ...
3                        False                  False  ...
4                        False                   True  ...
...                        ...                    ...  ...
67458                    False                  False  ...
67459                    False                  False  ...
67460                    False                  False  ...
67461                    False                  False  ...
67462                    False                  False  ...

       Total Received Late Fee  Recoveries  Collection Recovery Fee  \
0                        False       False                    False
1                        False       False                    False
2                         True       False                    False
3                        False       False                    False
4                         True        True                    False
...                        ...         ...                      ...
67458                    False       False                    False
67459                    False       False                    False
67460                    False       False                    False
67461                    False       False                    False
67462                    False       False                    False

       Collection 12 months Medical  Last week Pay  Accounts Delinquent  \
0                             False          False                False
1                             False          False                False
2                             False          False                False
3                             False          False                False
4                             False          False                False
...                             ...            ...                  ...
67458                         False          False                False
67459                         False          False                False
67460                         False          False                False
67461                         False          False                False
67462                         False          False                False

       Total Collection Amount  Total Current Balance  \
0                        False                  False
1                        False                  False
2                        False                  False
3                        False                  False
4                        False                  False
...                        ...                    ...
67458                    False                  False
67459                    False                  False
67460                    False                  False
67461                    False                  False
67462                    False                  False

       Total Revolving Credit Limit  Loan Status
0                             False        False
1                             False        False
2                             False        False
3                             False        False
4                             False        False
...                             ...          ...
67458                         False         True
67459                         False        False
67460                         False        False
67461                         False        False
67462                         False        False

[67463 rows x 26 columns]

In [ ]:
# Standardization
scaler = StandardScaler()
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

# Normalization (Min-Max Scaling)
scaler_minmax = MinMaxScaler()
df[numerical_columns] = scaler_minmax.fit_transform(df[numerical_columns])